<h1><%= t('issue_management') %></h1>
<p>
  <%= t 'issues_count' %>: <%= @issues_all_count %>
  <br>
  <%= t 'issues_to_be_changed' %>: <%= @issues_to_change_count %>
</p>
<table class="list">
  <thead>
  <tr>
    <th><%= t('id') %></th>
    <th><%= t('project') %></th>
    <th><%= t('issue_date') %></th>
    <th><%= t('subject') %></th>
    <th><%= t('status_from') %></th>
    <th><%= t('status_to') %></th>
    <th><%= t('action') %></th>
  </tr>
  </thead>
  <tbody>
  <% @issues_to_change_paginated.each do |issue| %>
    <tr>
      <td>
        <%= link_to issue.id, issue_path(id: issue.id) %>
      </td>
      <td>
        <%= issue.project %>
      </td>
      <td>
        <%= issue.created_on.localtime.strftime('%m/%d/%Y') %>
      </td>
      <td>
        <%= truncate(issue.subject, length: 50) %>
      </td>
      <td>
        <%= issue.status %>
      </td>
      <td>
        <%= @issues_new_status %>
      </td>
      <td>
        <%= link_to t('change_status'), issuecloser_update_path(id: issue.id, new_status: @issues_new_status, settings: params[:settings]) %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= paginate @issues_to_change_paginated %>

<p>
  <%= link_to t('back'), plugin_settings_path(id: 'issuecloser') %>
</p>
